@page
@model OnlineShopWeb.Pages_Users.DetailsModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserData.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserData.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserData.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserData.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserData.PasswordHash)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserData.PasswordHash)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserData.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserData.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserData.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserData.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserData.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserData.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserData.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserData.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserData.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserData.Role!.RoleName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.UserData.UserId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
</body>
</html>
