@page
@model OnlineShopWeb.Pages_OrderItems.IndexModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderItem[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderItem[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderItem[0].Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderItem[0].Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderItem) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.OrderItemId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.OrderItemId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.OrderItemId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
